{% extends 'base_admin.html' %}

{% block title %}
    admin authors
{% endblock %}
{% block body %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <table class="table" style="width: 100%">
            <tbody>
            <tr>
                <td>{{ form.author_name(class="form-control") }}</td>
                <td>{{ form.author_sex(class="form-control") }}</td>
            </tr>
            </tbody>
        </table>
        {{ form.submit(class="w-100 btn btn-outline-primary") }}
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">sex</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors_list %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.name }}</td>
                <td>{{ 'Мужской' if author.sex else 'Женский' }}</td>
                <td>
                    <form action="" method="post" style="float: right">
                        {{ delete_form.csrf_token }}
                        {{ delete_form.delete_table(value='author') }}
                        {{ delete_form.delete_id(value=author.id) }}
                        {{ delete_form.delete(class="btn btn-outline-danger") }}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}