{% extends 'base_admin.html' %}

{% block title %}Users{% endblock %}
{% block body %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <table class="table" style="width: 100%">
            <tbody>
            <tr>
                <td>{{ form.people_name(class="form-control", placeholder="name") }}</td>
                <td>{{ form.people_surname(class="form-control", placeholder="surname") }}</td>
                <td>{{ form.people_patronymic(class="form-control", placeholder="patronymic") }}</td>
                <td>{{ form.people_sex(class="form-control", placeholder="sex") }}</td>
                <td>{{ form.people_address(class="form-control", placeholder="address") }}</td>
                <td>{{ form.people_tel_num(class="form-control", placeholder="tel_num") }}</td>
                <td>{{ form.people_pass_num(class="form-control", placeholder="pass_num") }}</td>
                <td>{{ form.people_email(class="form-control", placeholder="email") }}</td>
                <td>{{ form.people_password(class="form-control", placeholder="password") }}</td>
                <td>{{ form.people_role(class="form-control", placeholder="role") }}</td>
            </tr>
            </tbody>
        </table>
        {{ form.submit(class="w-100 btn btn-outline-primary") }}
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">patronymic</th>
            <th scope="col">sex</th>
            <th scope="col">address</th>
            <th scope="col">tel_num</th>
            <th scope="col">pass_num</th>
            <th scope="col">email</th>
            <th scope="col">role</th>
            {#            <th scope="col"></th>#}
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users_list %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.patronymic }}</td>
                <td>{{ 'Мужской' if user.sex else 'Женский' }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.tel_num }}</td>
                <td>{{ user.pass_num }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                {#                <td>#}
                {#                    <form action="" method="post" style="float: right">#}
                {#                        {{ change_form.csrf_token }}#}
                {#                        {{ change_form.change_table(value='User') }}#}
                {#                        {{ change_form.change_id(value=user.id) }}#}
                {#                        {{ change_form.change(class="btn btn-outline-primary") }}#}
                {#                    </form>#}
                {#                </td>#}
                <td>
                    <form action="" method="post" style="float: right">
                        {{ delete_form.csrf_token }}
                        {{ delete_form.delete_table(value='user') }}
                        {{ delete_form.delete_id(value=user.id) }}
                        {{ delete_form.delete(class="btn btn-outline-danger") }}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}