{% extends 'base_admin.html' %}

{% block title %}

{% endblock %}
{% block body %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <table class="table" style="width: 100%">
            <tbody>
            <tr>
                <td>{{ form.lang_title(class="form-control") }}</td>
            </tr>
            </tbody>
        </table>
        {{ form.submit(class="w-100 btn btn-outline-primary") }}
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for language in language_list %}
            <tr>
                <th scope="row">{{ language.id }}</th>
                <td>{{ language.title }}</td>
                <td>
                    <form action="" method="post" style="float: right">
                        {{ delete_form.csrf_token }}
                        {{ delete_form.delete_table(value='language') }}
                        {{ delete_form.delete_id(value=language.id) }}
                        {{ delete_form.delete(class="btn btn-outline-danger") }}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}