{% extends 'base.html' %}

{% block title %}
    Intro
{% endblock %}
{% block extra_head %}
    <style>
        body {
            color: #5a5a5a;
        }

        .carousel {
            margin-bottom: 4rem;
        }

        .carousel-caption {
            bottom: 10rem;
        !important;
            z-index: 10;
        }

        .carousel-item {
            height: 32rem;
        }


        .marketing .col-lg-4 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        .marketing .col-lg-4 p {
            margin-right: .75rem;
            margin-left: .75rem;
        }

        .featurette-divider {
            margin: 5rem 0;
        }

        .featurette-heading {
            letter-spacing: -.05rem;
        }

        @media (min-width: 40em) {
            .carousel-caption p {
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
                line-height: 1.4;
            }

            .featurette-heading {
                font-size: 50px;
            }
        }

        @media (min-width: 62em) {
            .featurette-heading {
                margin-top: 7rem;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                        class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class="active" aria-current="true"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" style="height: 95vh">
                    <img src="../static/img/lib2.jpeg" width="100%">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Библиотека</h1>
                            <p>У нас есть более 10000 книг которые вы можете взять в аренду и прочитать</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Книги которые у нас есть</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="height: 95vh">
                    <img src="../static/img/shop.jpeg" width="100%">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Магазин</h1>
                            <p>В нашем прекрасном магазине вы можете найти все что нужно для чтения и работы с
                                текстом.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">За покупками</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active" style="height: 95vh">
                    <img src="../static/img/cowork.jpeg" width="100%">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Коворкинг</h1>
                            <p>В нашем коворкинге вы можете качественно настроится на работу для получения лучшего
                                результата.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Зарезервировать место</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container px-4 py-5">
            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
                <div class="col d-flex flex-column align-items-start gap-2">
                    <h2 class="fw-bold text-body-emphasis">О нас</h2>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll
                        add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary btn-lg">К книгам</a>
                </div>

                <div class="col">
                    <div class="row row-cols-1 row-cols-sm-2 g-4">
                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                                 style="width: fit-content">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1.4em" class="m-2 bi bi-book"
                                     viewBox="0 0 16 16" fill="currentColor">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Библиотека</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the
                                heading.</p>
                        </div>

                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                                 style="width: fit-content">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1.4em" class="m-2 bi bi-bag-check"
                                     viewBox="0 0 16 16" fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Магазин</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the
                                heading.</p>
                        </div>

                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                                 style="width: fit-content">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1.4em" class="m-2 bi bi-people-fill"
                                     viewBox="0 0 16 16" fill="currentColor">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                </svg>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Коворкинг</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the
                                heading.</p>
                        </div>

                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
                                 style="width: fit-content">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1.4em" class="m-2 bi bi-calendar3-event"
                                     viewBox="0 0 16 16" fill="currentColor">
                                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                    <path d="M12 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>

                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Мероприятия</h4>
                            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the
                                heading.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
