{% extends 'base_zero.html' %}

{% block title %}login{% endblock %}
{% block extra_head %}
    <style>
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .top {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .center {
            margin-bottom: -1px;
            border-radius: 0;
        }

        .bottom {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}
{% block body %}
    <main class="form-signin w-100 m-auto text-center">
        <form action="" method="post">
            {{ form.csrf_token }}
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="50" fill="currentColor"
                 class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
            </svg>
            <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
            <div class="form-floating">
                {{ form.people_surname(class="form-control top", placeholder="Фамилия") }}
                {{ form.people_surname.label }}
            </div>
            <div class="form-floating">
                {{ form.people_name(class="form-control center", placeholder="Имя") }}
                {{ form.people_name.label }}
            </div>
            <div class="form-floating">
                {{ form.people_patronymic(class="form-control center", placeholder="Отчество") }}
                {{ form.people_patronymic.label }}
            </div>
            <div>
                {{ form.people_sex(class="form-control center", style_="padding: 1em", placeholder="Пол") }}
            </div>
            <div class="form-floating">
                {{ form.people_address(class="form-control center", placeholder="Адрес") }}
                {{ form.people_address.label }}
            </div>
            <div class="form-floating">
                {{ form.people_pass_num(class="form-control center", placeholder="Номер паспорта") }}
                {{ form.people_pass_num.label }}
            </div>
            <div class="form-floating">
                {{ form.people_tel_num(class="form-control center", pattern="[0-9]{1}[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}",placeholder="Номер телефона") }}
                {{ form.people_tel_num.label }}
            </div>
            <div class="form-floating">
                {{ form.people_email(class="form-control center", placeholder="Email") }}
                {{ form.people_email.label }}
            </div>
            <div class="form-floating mb-3">
                {{ form.people_password(class="form-control center", placeholder="Пароль") }}
                {{ form.people_password.label }}
            </div>
            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        </form>
    </main>
{% endblock %}
